Pods
Podfile.lock
.DS_Store
CleanReduxTodoList.xcodeproj/xcuserdata/noelcperez.xcuserdatad/
CleanReduxTodoList.xcworkspace/xcuserdata/noelcperez.xcuserdatad/
CleanReduxTodoList.xcodeproj/xcuserdata/noelcperez.xcuserdatad/xcschemes/CleanReduxTodoList.xcscheme
CleanReduxTodoList.xcodeproj/xcuserdata/noelcperez.xcuserdatad/xcschemes/xcschememanagement.plist
CleanReduxTodoList.xcworkspace/xcuserdata/noelcperez.xcuserdatad/UserInterfaceState.xcuserstate
CleanReduxTodoList.xcworkspace/xcuserdata/noelcperez.xcuserdatad/WorkspaceSettings.xcsettings
CleanReduxTodoList.xcworkspace/xcuserdata/noelcperez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CleanReduxTodoList.xcworkspace/xcuserdata/noelcperez.xcuserdatad/
CleanReduxTodoList.xcodeproj/project.xcworkspace/xcuserdata/noelcperez.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate



Pods/


